<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Button with Spinner</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <p>
        <button id="startProcess">Start Process</button>
        <div class="spinner" id="spinner"></div>
        <p id="result"></p>
    
    </p>
    
    <p>
        <button id="secondProcess">Second Process</button>
        <div class="spinner" id="spinner2"></div>
        <p id="display"></p> 
    </p>
</body>
</html>
